<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799373707066-ekjd3p6ie9tsf9h78rugprqj7o21sb5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799373707066-ekjd3p6ie9tsf9h78rugprqj7o21sb5p</string>
	<key>API_KEY</key>
	<string>AIzaSyD8cCq482_iiGqrkCnZZuL0I_ZRUBsiLVs</string>
	<key>GCM_SENDER_ID</key>
	<string>799373707066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checkkm</string>
	<key>PROJECT_ID</key>
	<string>checkkm-342ab</string>
	<key>STORAGE_BUCKET</key>
	<string>checkkm-342ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799373707066:ios:ff3c5c5b12f516a7dd3203</string>
</dict>
</plist>